.singleImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.singleImage:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 8px #535353;
}
.imageTitle {
  margin: 0;
}
.imageTitle:hover {
  color: #000435;
  text-decoration: underline;
}
.imageLink {
  margin: 0;
  font-size: 14px;
  color: rgb(148, 148, 148);
}
.imageLink:hover {
  text-decoration: underline;
}
.imagecontainer{
  width: 20vw;
}