.mainContent {
  width: 55%;
  margin-left: 12rem;
}
.fetchTime {
  text-align: left;
  padding: 5px;
  color: #444444d2;
  font-size: 14px;
  padding-top: 10px;
}
@media screen and (max-width: 676px) {
  .mainContent {
    margin-left: 5vw;
    width: 90vw;
  }
}
