.videoTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  color: #1558d6;
}
.videoTitle:hover{
  cursor:pointer;
  color: #4215d6;
  text-decoration: underline;
}
.aboutVideo {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 6px;
  color: rgb(63, 63, 63);
}
.dot {
  font-size: 7px;
}
.videoThumbnail {
  width: 150px;
  border-radius: 10px;
}
.videoContent {
  display: flex;
  padding-top: 10px;
}
.videoRight {
  padding-left: 20px;
}
